{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión - El Comandero</title>
  
    <link rel="stylesheet" href="{% static 'accounts/css/login_styles.css' %}">

</head>
<body>
    <div class="login-container">
        <h2>Iniciar sesión</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Muestra el formulario de autenticación -->
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
</body>
</html>