{% load static %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}El Comandero{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/global_styles.css' %}">

    {% block extra_styles %}{% endblock %}
</head>
<body>
    <!-- Header -->
    <header>
        <div class="header-content">
            <h1>El Comandero</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'dashboards:admin_dashboard' %}">Dashboard Admin</a></li>
                    <li><a href="{% url 'dashboards:user_dashboard' %}">Dashboard Usuario</a></li>
                    <li>
                        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Contenido principal -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <p>&copy; 2025 El Comandero. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- Bloque para scripts adicionales -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    
    {% block extra_js %}{% endblock %}
</body>
</html>